*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
   background: rgb(0, 0, 0);
   color: rgb(219, 199, 210);
 
}
nav{
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 90px;
   background-color: rgb(1, 74, 108);
}
nav ul{
   display: flex;
   justify-content: center;
}
nav ul li{
   list-style: none;
   margin: 0 23px;
}
nav ul li a{
   color: rgb(255, 255, 255);
}
nav ul li a:hover{
   color: rgb(174, 205, 224);
   font-size: 15px;
}
.left{
   font-size: 25px;
}
.firstsection{
   display: flex;
   justify-content: space-around;
   margin: 110px 0;
   align-items: center;
  
}
.firstsection > div{
   width: 30%;
}
.leftsection{
   width: 34px;
   font-size: 40px ;
  
}

.rightsection img{
   width: 80%;

}
 main hr{
   border: 0px;
    background-color: #4c98df;
    height: 2px;
    margin: 60px 90px;
}


.blue{
   color:rgb(67, 144, 180) ;
}
#element{
   color:rgb(67, 144, 180);
}
.secondsection{
   width: 80vw;
   margin: auto;
   height: 80vh;
}

#about{
   color: rgb(76, 152, 223);
}
.row{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.about-col-1{
   width: 35%;
}
.about-col-1 img{
   width: 100%;
}
.about-col-2{
   width: 60%;
}
.subtitle{
   font-size: 60px;
   font-weight: 600;
   color: rgb(76, 152, 223);
}
.sub-1{
   margin: 10px ;
   color: white;
   font-style: italic;
   word-spacing: 3px;
}
.tab-title{
   display: flex;
   margin: 20px 0 40px;
}
.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  position: relative;
}

.tab-links{
   width: 100%;
   font-size: 50px;
}
.tab-contents ul li{
   list-style: none;
   margin: 10px 0px;
}
.tab-contents ul li span{
   color:rgb(243, 238, 241);
}

