*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
   background: rgb(0, 0, 0);
   color: rgb(219, 199, 210);
 
}
nav{
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 90px;
   background-color: rgb(1, 74, 108);
}
nav ul{
   display: flex;
   justify-content: center;
}
nav ul li{
   list-style: none;
   margin: 0 23px;
}
nav ul li a{
   color: rgb(255, 255, 255);
}
nav ul li a:hover{
   color: rgb(174, 205, 224);
   font-size: 15px;
}
.left{
   font-size: 25px;
}
.firstsection{
   display: flex;
   justify-content: space-around;
   margin: 110px 0;
   align-items: center;
  
}
.firstsection > div{
   width: 30%;
}
.leftsection{
   width: 34px;
   font-size: 40px ; 
}

.rightsection img{
   width: 80%;
  animation: moveUpDown 2s ease-in-out infinite;
}
 main hr{
   border: 0px;
    background-color: #4c98df;
    height: 2px;
    margin: 60px 90px;
}
@keyframes moveUpDown {
      0%, 100% {
        transform: translateY(0);  
      }
      50% {
        transform: translateY(-30px);  
      }
   }

.blue{
   color:rgb(67, 144, 180) ;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#element{
   color:rgb(67, 144, 180);
}
.secondsection{
   width: 80vw;
   margin: auto;
   height: 80vh;
}

#about{
   color: rgb(76, 152, 223);
}
.row{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.about-col-1{
   width: 35%;
}
.about-col-1 img{
   width: 100%;
}
.about-col-2{
   width: 60%;
}
.subtitle{
   font-size: 60px;
   font-weight: 600;
   color: rgb(76, 152, 223);
}
.sub-1{
   margin: 5px ;
   color: white;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   word-spacing: 3px;
}
.tab-title{
   display: flex;
   margin: 20px 0 40px;
}
.tab-links{
  margin-right: 50px;
  font-size: 2px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
} 

.tab-links{
   width: 100%;
   font-size: 25px;
}
.tab-contents ul li{
   margin: 10px 0px;
   list-style: none;
}
.tab-contents ul li span{
   color:rgb(243, 238, 241);
   font-size: 14px;
}
.tab-contents{
   display: none;
}
.tab-contents.active-tab{
   display: block;
}
#services{
  padding: 30px 20px;
  text-align: center;
  color: rgb(61, 154, 236);
}
.services-list{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   grid-gap: 40px;
   margin-top: 50px;
   margin-bottom: 100px;
}
.services-list div{
    background-color: rgb(44, 44, 47);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background-color 0.5s, transform 0.5s;
}
.services-list div i{
   font-size: 40px;
   color: rgb(125, 182, 235);
   margin-bottom: 20px;
}
.services-list div h2{
   margin-bottom: 15px;
   font-size: 30px;
   font-weight: 500;
}
.services-list div a{
  color: rgb(228, 228, 228);
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.services-list div:hover{
   background-color: #0a2549;
   transform: translateY(-10px);
}
.contact-left{
   flex-basis: 35%;
}
.contact-right{
   flex-basis: 60%;
}
.contact-left p{
  margin-top: 30px;
}
.contact-left p i{
   color: rgb(61, 154, 236);
   margin-right: 15px;
   font-size: 25px ;
}
.social-icons{
   margin-top: 30px;
}
.social-icons a{
   text-decoration: none;
   color: rgb(255, 255, 255);
   font-size: 30px;
   margin-right: 15px;
   display: inline-block;
   transition: color 0.5s, transform 0.5s;
}
.social-icons a:hover{
   color: rgb(61, 154, 236);
   transform: translateY(-5px);
}
.btn.btn2{
   display: inline-block;
   background-color: rgb(61, 154, 236);
   border: none;
   align-items: center;
   padding: 14px 60px;
   font-size: 18px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}
.contact-right form{
  width: 100%;
}
form input,form textarea{
   width: 100%;
   outline: none;
   background-color: rgb(33, 33, 33);
   padding: 15px;
   margin: 15px 0;
   color: white;
   font-size: 18px;
   border: none;
 
}
@media only screen and (max-width: 800px){
   .firstsection{
      flex-direction: column-reverse;
      text-align: center;
   }
   .firstsection > div{
      width: 80%;
   }
   .rightsection img{
      width: 60%;
   }
   .about-col-1, .about-col-2{
      width: 100%;
   }
   .tab-title{
      flex-direction: column;
   }
   .tab-links{
      margin: 10px 0;
   }
   .services-list{
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   }
   .secondsection{
      height: auto;
   }
   nav ul{
      flex-direction: column;
   }
   nav ul li{
      margin: 10px 0;
   }
   
}
